@media (min-width: 800px) {
  .container {
    padding: 0 1.5rem;
  }

  .navbar {
    padding: 3rem 1.5rem 3rem 1.5rem;
  }

  .navbar__menu__hamburger {
    display: none;
  }

  .navbar__menu--desktop {
    display: block;
  }
}

@media (min-width: 850px) {
  .container {
    padding: 0 2rem;
  }

  .navbar {
    padding: 3rem 2rem 3rem 2rem;
  }

  .top {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .article__web3__img {
    display: none;
  }

  .article__web3__img--desktop {
    width: 100%;
    display: block;
    margin-bottom: 30px;
  }

  .article__web3__texts--container {
    display: flex;
    gap: 50px;
  }

  .article__web3__title {
    font-size: 3rem;
  }

  .article__web3__text {
    margin-bottom: 30px;
  }

  .bottom {
    display: flex;
    gap: 20px;
  }

  .bottom__article__img {
    max-height: 140px;
  }

  .bottom__article__numbers {
    font-size: 1.5rem;
  }

  .bottom__article__titles {
    font-size: 1rem;
    margin: 10px 0;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 3rem;
  }

  .navbar {
    padding: 3rem 3rem 3rem 3rem;
  }
}